version: 2
updates:
  - package-ecosystem: "nuget"
    directory: "/tests/IntegrationTests"
    schedule:
      interval: "weekly"

  - package-ecosystem: "nuget"
    directory: "/tests/UnitTests"
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
